<%= form_with(model: escape, local: true) do |form| %>

  <% if @error_message.present? %>
    <strong class="error_message">
      <%= @error_message %>
    </strong>
  <% end %>

  <% if escape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(escape.errors.count, "error") %> prohibited this escape from being saved:</h2>

      <ul>
      <% escape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if escape.prisoner.present? %>

  <div class="field">
    <%= form.label :organiser, 'Your name' %>
    <%= form.text_field :organiser %>
  </div>

  <% else %>

  <div class="field">
    <%= form.label :payload %>
    <%= form.text_field :payload, autofocus: true %>
  </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
